<link rel="stylesheet" href="../assets/style.css">
<%- include('common/nav') -%>

<h1>Login Page</h1>

<form action="" method="post">
    <input type="text" name="email">
    <br>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Login</button>

</form>